/* Font Import */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');

* {
    box-sizing: border-box;
}

/* Globaler Style */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    background: #012025;
}

#particles-js {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    pointer-events: none;
}

/* Intro - Style */

section#intro {
    width: 100%;
    height: 100%;
    min-height: 50px;
    background: linear-gradient(to top right, #3d314f, #012025);
    z-index: 1;
}

section#intro h1 {
    font-size: calc(65px + 1vh);
    line-height: calc(80px + 1vh);
    font-weight: bold;
    color: white;
}

section#intro h2 {
    font-weight: 100;
    font-size: calc(20px + 1vh);
    margin-top: -3vh;
    color: #818189;
}

section#intro .page_title {
    position: absolute;
    color: #1cc885;
    font-size: calc(40px + 1vh);
    top: 15vh;
    right: 20px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

section#intro .accent {
    color: #1cc885;
}

section#intro .text_block {
    position: absolute;
    margin-left: 200px;
    width: 100%;
    bottom: 40vh;
}

img.earth {
    position: absolute;
    width: 40vw;
    bottom: 0;
    right: 0;
    pointer-events: none;
}

@media only screen
and (max-device-width : 912px) {
    section#intro h1 {
        font-size: 50px;
        line-height: 60px;
        font-weight: bold;
        color: white;
    }

    section#intro .text_block {
        margin: 0 5%;
        top: 5%;
        padding: 20px;
        width: 90%;
    }

    img.earth {
        width: 80vw;
    }
}

@media only screen
and (max-device-width : 320px) {
    img.earth {
        width: 60vw;
    }
}
